@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap');

* {
  font-family: 'Quicksand', sans-serif;
  font-weight: lighter;
  text-rendering: auto;
}

body {
  background: #0d1521;
  font-size: 16px;
  color: #f2f2f2;
}

.button {
  background-color: white;
  color: black;
  border: 2px solid #e7e7e7;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
}

input+label.error {
  color: red;
}

.button1:hover {
  background-color: #f44336;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

h1.logo {
  background: url(logo.png) no-repeat center;
  margin-bottom: 0;
  text-indent: -10px;
  height: 150px;
}

td:nth-child(1) {
  background-color: var(--bs-dark);
  color: var(--bs-white)
}

